.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    max-width: 800px;
    background: lightslategray;
    padding: 10px;
    z-index: 500;
    border-radius: 10px;
  }

  .modal p {
    text-align: center;
  }

  .actionButton {
    text-align: right;
  }

  .actionButton button {
    height: 30px;
    border-radius: 5px;
  }