.overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 800px;
  background: lightslategray;
  padding: 10px;
  z-index: 500;
  border-radius: 10px;
}

.appointmentData {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 1rem;
  text-align: left;
}

.appointmentData input {
  border-radius: 6px;
  border: 1px solid #ccc;
  height: 20px;
  width: 98%;
}

.appointmentData label {
  display: block;
}

.actionButtons {
  text-align: right;
  margin-top: 15px;

}

.actionButtons button {
  height: 30px;
  border-radius: 5px;
}


.dateTimeValue {
  text-align: center;
  font-weight: bold;
}

.invalid {
  color: salmon;
}