.appointmentAvailable {
  background-color: #A1DD70;
}

.appointmentBusy {
  background-color: #8559A5;
  pointer-events: none;
}

.breakTime {
  background-color: #00BDAA;
  pointer-events: none;
}

.appointmentUnavailable {
  background-color: #EAEAEA;
  pointer-events: none;
}

.calendarHour {
  text-align: center;
}

.cellBottomBorder {
  border-bottom: 1px solid grey;
  height: 30px;
}
