.calendarTable {
  display: flex;
}

.calendarDayColumn {
  border: 1px solid grey;
  width: 10%;
}

.calendarDayColumn:first-child {
  width: 90px;
}

.calendarDayName {
  border-bottom: 1px solid grey;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
